DATABASE_URL="file:./dev.db"
JWT_SECRET="your-super-secret-jwt-key"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Resend Email Configuration
RESEND_API_KEY="re_your_api_key_here"
RESEND_FROM_EMAIL="Kenangita <noreply@yourdomain.com>"

# Payment Gateway KlikQRIS Configuration
KLIKQRIS_BASE_URL="https://klikqris.com/api"
KLIKQRIS_API_KEY="your_klikqris_api_key"
KLIKQRIS_MERCHANT_ID="your_klikqris_merchant_id"
